{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "Inicio" "position" 1 )) }}
{{ range $index, $element := split $url "/" }}
  {{ $.Scratch.Add "path" $element }}
  {{ $.Scratch.Add "path" "/" }}
  {{ if ne $element "" }}
    {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" (humanize (replace . "-" " ")) "position" (add $index 2))) }}
  {{ end }}
{{ end }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {{ range $.Scratch.Get "breadcrumb" }}
        {{ if ne .position 1 }},{{ end }}
        {
          "@type": "ListItem",
          "position": {{ .position }},
          "item": {
            "@id": "{{ .url }}",
            "name": "{{ .name }}"
          }
        }
      {{ end }} ]
  }
</script>