<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Params.Twitter.Title | default .Title }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:description" content="{{if .IsHome}}{{ .Site.Params.Description }}{{else}}{{.Params.Twitter.Description | default .Description }}{{end}}">
<meta name="twitter:image" content="{{ .Params.Twitter.Image | default .Params.Image.Src | default "logo.png" | absURL}}">
<meta name="twitter:site" content="{{ .Params.Twitter.Site | default .Site.Params.TwitterSite }}">