{{ with .Params.Author }}
    <section class="author">
        {{ with .name }}
            <p class="author__name">{{ . }}</p>
        {{ end }}
        {{ with .image }}
            <amp-img class="author__image"
                src="{{ . | absURL }}"
                layout="fixed" height="200" width="200"></amp-img>
        {{ end }}
        {{ with .bio }}
            <p class="author__bio">{{ . }}</p>
        {{ end }}
        <p class="author__cta">{{ i18n "authorCta" }}</p>
        <div class="social-share">
            {{- partial "post/social-share.html" . -}}
        </div>
    </section>
{{ end }}