<amp-social-share class="social-share__button"
    aria-label="{{ i18n "share" }}" type="system" width="50" height="50"></amp-social-share>
<amp-social-share class="social-share__button"
    aria-label="{{ i18n "shareFacebook" }}" type="facebook" width="50" height="50"></amp-social-share>
<amp-social-share class="social-share__button"
    aria-label="{{ i18n "shareTwitter" }}" type="twitter" width="50" height="50"></amp-social-share>
<amp-social-share class="social-share__button"
    aria-label="{{ i18n "shareLinkedin" }}" type="linkedin" width="50" height="50"></amp-social-share>
<amp-social-share class="social-share__button"
    aria-label="{{ i18n "sharePinterest" }}" type="pinterest" width="50" height="50"></amp-social-share>