<article class="summary">
    <div class="summary__container">
        <h2 class="summary__title">{{.Title}}</h2>
        <amp-img class="summary__image"
            src="{{.Params.Image.Src}}"
            layout="responsive"
            width="1280"
            height="720"
            alt="{{.Title}}"></amp-img>
    </div>
    <p>{{.Summary}}</p>
    <a class="button" role="button"
        href="{{.Permalink}}"
        data-rel="prefetch"
        aria-label="{{ i18n "keepReading" }} {{.Title}}">{{ i18n "keepReading" }}</a>
</article>