<!DOCTYPE html>
<html ⚡ lang="{{.Site.LanguageCode}}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "analytics.html" . -}}
        <header>
            {{- partial "header.html" . -}}
        </header>
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        <aside>
            {{- block "aside" . }}{{- end }}
        </aside>
        <footer>
            {{/* {{- partial "footer.html" . -}} */}}
        </footer>
    </body>
</html>
