<!DOCTYPE html>
<html ⚡ lang="{{.Site.LanguageCode}}">
    <head>
        {{- partial "head.html" . -}}
        <script data-ad-client="ca-pub-8268925024957381" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        {{- partial "install-sw.html" . -}}
        {{- partial "analytics.html" . -}}
        {{- partial "structured-data.html" . -}}
        <header>
            {{- partial "header.html" . -}}
        </header>
        <main>
            {{- block "main" . }}{{- end }}
        </main>
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
    </body>
</html>
