{{ define "main" }}

<div>
    By {{.Params.Author.Name}} |
    <time datetime="{{.PublishDate}}">{{.PublishDate.Format "02-01-2006" }}</time>
    {{ $taxonomy := "tags" }} <!-- Use the plural form here -->
    <ul id="{{ $taxonomy }}">
        <li>Tags:</li>
        {{ range .Param $taxonomy }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy ($name | urlize)) }}
                <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
</div>

<article>
    {{ .Content }}
</article>

{{ end }}
