/* Variables */

$main-color: #ef8b80;
$secondary-color: #fff;

/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Styles */

body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em 1em;
	font-size: 14pt;
	font-family: Courier New;
	color:#333;
}

header,
footer {
	grid-column: 1 / span 5;
	display: flex;
	justify-content: flex-end;
	max-height: 3em;
	a {
		padding:0.5em 1em;
	}
}

main {
	margin: 2.5em 0 0 2em;
	grid-column: 1 / span 3;
}

aside {
	margin-top: 3em;
	grid-column: span 2;
	.aside__wrapper {
		position: sticky;
		position: -webkit-sticky;
		top: 1em; /* required */
	}
}

@media (max-width: 1200px) {
	main,
	aside {
		margin: 0 1em;
		grid-column: 1 / span 5;
	}
	header,
	footer {
		overflow: auto;
		justify-content: flex-start;
	}
}

h1, h2, h3, h4 {
	font-family: Helvetica;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}

a {
	text-decoration:none;
	border-bottom: 2px solid $main-color;
	box-shadow: inset 0 -4px 0 $main-color;
	color: inherit;
	transition: background 0.1s cubic-bezier(.33,.66,.66,1);
	&:hover {
		background: $main-color;
	}
}

li {
	margin-top: 0.25em;
}

blockquote {
	margin: 0 auto;
	margin-left: 1em;
	padding: 1em;
	border-left: 5px solid #999;
	&:before {
		display: none;
	}
	&:not(:first-of-type) {
		margin-top: .5em;
	}
	p {
		color: #555;
		font-size: 16pt;
		font-family: 'Times New Roman', serif;
	}
}

pre, code {
	font-size: 12pt;
	background-color: #DCDCDC;
}
code {
	padding: 0.1em;
}
pre {
	padding: 1em;
	overflow: auto;
}
.post__image {
	max-width: 1000px;
}

/* Natural flow and rhythm in articles by default */
article > * {
	margin-top: 1em;
}
article h1 {
	margin-top: 0;
}