/* Imports*/

@import "variables";
@import "reset";
@import "syntax";

/* Styles */

body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em 1em;
	font-size: 14pt;
	font-family: Courier New;
	color:#333;
}

header,
footer {
	grid-column: 1 / span 5;
	display: flex;
	justify-content: flex-end;
	max-height: 3em;
	a {
		padding:0.5em 1em;
	}
}

main {
	margin: 2.5em 0 0 2em;
	grid-column: 1 / span 3;
}

aside {
	margin-top: 2.5em;
	grid-column: span 2;
	.aside__wrapper {
		position: sticky;
		position: -webkit-sticky;
		top: 1em; /* required */
	}
}

h1, h2, h3, h4 {
	font-family: Helvetica;
}

h1 {
	font-size: 5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}

a {
	text-decoration:none;
	border-bottom: 2px solid $main-color;
	box-shadow: inset 0 -4px 0 $main-color;
	color: inherit;
	transition: background 0.1s cubic-bezier(.33,.66,.66,1);
	&:hover {
		background: $main-color;
	}
}

li {
	margin-top: 0.25em;
}

#tags {
	margin: 0;
	padding: 0;
	li {
	  display: inline;
	}
}

blockquote {
	margin: inherit auto;
	margin-left: 1em;
	padding: 1em;
	border-left: 5px solid #999;
	&:before {
		display: none;
	}
	&:not(:first-of-type) {
		margin-top: .5em;
	}
	p {
		color: #555;
		font-size: 16pt;
		font-family: 'Times New Roman', serif;
	}
}

pre, code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12pt;
	background-color: #F1F1F1;
}
/* Inline code fence*/
article > pre {
	overflow: auto;
	padding: 1em;
}
/*Block code fence*/
article > p > code {
	padding: 0.1em;
}
/*Chroma highlighted code*/
article > .highlight {
	overflow: auto;
	.chroma {
		background-color: #F1F1F1;
	}
}

.post__image {
	max-width: 1000px;
}

@media (max-width: 1200px) {
	main,
	aside {
		margin: 0 1em;
		grid-column: 1 / span 5;
	}
	header,
	footer {
		overflow: auto;
		justify-content: flex-start;
	}
	h1 {
		font-size: 2.5rem;
	}
}