{{ if isset $.Site.Params "googleanalytics" }}
  <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
      {
        "vars": {
          "gtag_id": "{{ $.Site.Params.googleAnalytics }}",
          "config": {
            "{{ $.Site.Params.googleAnalytics }}": { "groups": "default" }
          }
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
  </amp-analytics>
{{ end }}