<nav class="header__menu">
    <a class="header__menu__logo" href="{{ "/" | absLangURL }}" aria-label="{{ i18n "goBackHome" }}">
        {{- partial "logo.html" . -}}
    </a>
    <ul class="header__menu__list">
        {{ $internal := in .URL .Site.BaseURL }}
        {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}" {{ if not $internal }} target="_blank" rel="nofollow noopener noreferrer" {{ end }}>
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>