<!--<div class="header--logo"></div>-->
<!--<div class="header--social-links"></div>-->
<a target="_blank" rel="nofollow noopener noreferrer" href="https://twitter.com/asurbernardo">Twitter</a>
<a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/asurbernardo">Github</a>
<a target="_blank" rel="nofollow noopener noreferrer" href="https://stackoverflow.com/users/4524353/asur">StackOverflow</a>
<a target="_blank" rel="nofollow noopener noreferrer" href="https://www.linkedin.com/in/asur-bernardo/">Linkedin</a>