<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<title>{{ .Title }}</title>

<meta name="description" content="{{if .IsHome}}{{ .Site.Params.Description }}{{else}}{{.Description}}{{end}}" />
<meta name="theme-color" content="{{ .Site.Params.ThemeColor }}"/>
<link rel="canonical" href="{{ .Permalink }}" >
<link rel="sitemap" href="{{ "sitemap.xml" | absURL }}" type="application/xml" />

<link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
<link rel="preconnect dns-prefetch" href="https://cdn.ampproject.org" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com" crossorigin>

<meta property="og:title" content="{{ .Params.Ogp.Title | default .Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{if .IsHome}}{{ .Site.Params.Description }}{{else}}{{.Params.Ogp.Description | default .Description}}{{end}}">
<meta property="og:image" content="{{ .Params.Ogp.Image | default .Params.Image.Src | default "/logo.png" | absURL}}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ .Params.Ogp.Site | default .Page.Params.FacebookSite }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Params.Twitter.Title | default .Title }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:description" content="{{if .IsHome}}{{ .Site.Params.Description }}{{else}}{{.Params.Twitter.Description | default .Description}}{{end}}">
<meta name="twitter:image" content="{{ .Params.Twitter.Image | default .Params.Image.Src | default "/logo.png" | absURL}}">
<meta name="twitter:site" content="{{ .Params.Twitter.Site | default .Site.Params.TwitterSite }}">

<link rel="manifest" href="{{ "/manifest.json" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/icons/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/icons/favicon-16x16.png" | absURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/icons/apple-touch-icon.png" | absURL }}">

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes  -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript>
    <style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style>
</noscript>

<style amp-custom>
    {{ with resources.Get "styles.scss" | resources.ToCSS | resources.Minify }}
        {{ .Content | safeCSS }}
    {{ end }}
    {{ if resources.Get "custom.scss" }}
        {{ with resources.Get "custom.scss" | resources.ToCSS | resources.Minify }}
            {{ .Content | safeCSS }}
        {{ end }}
    {{ end }}
</style>

{{- partial "amp/script-tags.html" . -}}