<div class="product">
    {{ $resource := resources.Get .image }}
    {{ with $resource }}
        {{ partial "blocks/image.html" (dict "src" $.image "alt" $.title "width" 300 "height" 300 "class" "product__image") }}
    {{ else }}
        <amp-img
            class="product__image"
            layout="responsive" width="300" height="300"
            alt="{{ $.title }}"
            src="{{ $.image | absURL }}"></amp-img>
    {{ end }}
    <div class="product__content">
        <p class="product__title">{{ .title }}</p>
        <p class="product__description">{{ .description }}</p>
        {{ with .cta }}
            <a class="product__cta button"
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="{{ $.link | absURL }}" role="button">{{ . }}</a>
        {{ end }}
    </div>
</div>