<div class="product">
    <amp-img
        class="product__image"
        layout="responsive" width="300" height="300"
        alt="{{ .title }}"
        src="{{ .image | absURL}}"></amp-img>
    <div class="product__content">
        <p class="product__title">{{ .title }}</p>
        <p class="product__description">{{ .description }}</p>
        <a class="product__cta button"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="{{ .link | absURL }}" role="button">{{ .cta }}</a>
    </div>
</div>